# ESP-IDF
/build/
/sdkconfig
/sdkconfig.old
/sdkconfigs
/managed_components/
dependencies.lock
*.bin
*.elf
*.map

# Editor / IDE
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# Python
__pycache__/
*.pyc

# System
.DS_Store